body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  background-image:url("../image/149543429625.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  
}

.logout{
border:none;
color:white;
padding:14px 28px;
cursor:pointer;
position:relative;
margin-top:0px;
left:-10px;
   right:10px;
   top:2px; 
}
.log
{
background-color:#4CAF52;
}
.log:hover{
background-color:#46a049
}

.container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
@media all and (max-width:768px){


.logout{
border:none;
color:white;
padding:7px 14px;
cursor:pointer;
position:relative;
margin-top:0px;
left:-5px;
   right:5px;
   top:1px; 
}

.container a {
    float: left;
    font-size: 8px;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}



.dropdown .dropbtn {
    cursor: pointer;
    font-size: 8px;    
    border: none;
    outline: none;
    color: white;
    padding: 7px 8px;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
}



















